<template>
    <div :class="sidebarbg" class="app-sidebar sidebar-shadow" @mouseover="toggleSidebarHover('add','closed-sidebar-open')" @mouseleave="toggleSidebarHover('remove','closed-sidebar-open')" >
        <div class="app-header__logo">
            <div class="logo-src"/>
            <div class="header__pane ml-auto">
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" v-bind:class="{ 'is-active' : isOpen }" @click="toggleBodyClass('closed-sidebar')">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-sidebar-content" >
            <VuePerfectScrollbar class="app-sidebar-scroll" v-once >
                <sidebar-menu showOneChild :menu="menu"  />
            </VuePerfectScrollbar>
        </div>

    </div>
</template>

<script>
    import {SidebarMenu} from 'vue-sidebar-menu'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    export default {
        components: {
            SidebarMenu,
            VuePerfectScrollbar
        },
        data() {
            return {
                isOpen: false,
                sidebarActive: false,
                menu: [
                    {
                        header: true,
                        title: this.trans('sidebar.headers.main'),
                    },
                    {
                        title: this.trans('sidebar.main'),
                        href: '/',
                        icon: 'lnr-apartment',
                    },
                    {
                        title: this.trans('sidebar.target.main'),
                        icon: 'pe-7s-news-paper',
                        child: [
                            {
                                href: '/target',
                                title: this.trans('sidebar.target.tasks'),
                            },
                            {
                                href: '/target/tasks-from-archive/',
                                title: this.trans('sidebar.target.tasksArchive'),
                            },
                            {
                                href: '/target/target-audience-base/',
                                title: this.trans('sidebar.target.targetAudiencesBase'),
                            },
                            {
                                href: '/target/target-audience-base-from-archive/',
                                title: this.trans('sidebar.target.targetAudiencesBaseArchive'),
                            },

                        ]
                    },
                    {
                        title: this.trans('sidebar.advertisingCampaign.main'),
                        icon: 'pe-7s-news-paper',
                        child: [
                            {
                                href: '/advertising-companies/',
                                title: this.trans('sidebar.advertisingCampaign.tasks'),
                            },
                            {
                                href: '/advertising-companies/tasks-from-archive/',
                                title: this.trans('sidebar.advertisingCampaign.tasksArchive'),
                            },
                        ]
                    },
                    {
                        title: this.trans('sidebar.analytics'),
                        href: '/analytics/',
                        icon: 'pe-7s-graph2',
                    },
                    {
                        title: this.trans('sidebar.dialogues'),
                        href: '/dialogs/',
                        icon: 'pe-7s-chat',
                    },

                    {
                        title: this.trans('sidebar.incomingCalls'),
                        href: '/incoming-calls/',
                        icon: 'pe-7s-call',
                    },
                    {
                        title: this.trans('sidebar.messages.main'),
                        icon: 'pe-7s-news-paper',
                        child: [
                            {
                                href: '/messages/sms/',
                                title: this.trans('sidebar.messages.sms'),
                            },
                            {
                                href: '/messages/mms/',
                                title: this.trans('sidebar.messages.mms'),
                            },
                            {
                                href: '/messages/voice/',
                                title: this.trans('sidebar.messages.voice'),
                            }
                        ]
                    },
                    {
                        title: this.trans('sidebar.spamList'),
                        href: '/unsubscribed-recipients/',
                        icon: 'pe-7s-call',
                    },
                    {
                        title: this.trans('sidebar.favorites'),
                        href: '/favorites/',
                        icon: 'pe-7s-call',
                    },


                    {
                        header: true,
                        title: this.trans('sidebar.headers.settings'),
                    },
                    {
                        href: '/settings/thematics/',
                        title: this.trans('sidebar.thematics'),
                        icon: 'pe-7s-news-paper',
                    },
                    {
                        href: '/settings/sim-banks/',
                        title: this.trans('sidebar.simBanks'),
                        icon: 'pe-7s-news-paper',
                    },
                    {
                        href: '/settings/sim-cards/',
                        title: this.trans('sidebar.simCards'),
                        icon: 'pe-7s-news-paper',
                    },
                    {
                        href: '/settings/proxies/',
                        title: this.trans('sidebar.proxies'),
                        icon: 'pe-7s-news-paper',
                    },
                    {
                        href: '/settings/domens-redirects/',
                        title: this.trans('sidebar.domens'),
                        icon: 'pe-7s-news-paper',
                    },
                    {
                        href: '/settings/profiles/',
                        title: this.trans('sidebar.profiles'),
                        icon: 'pe-7s-news-paper',
                    },


                ],
                collapsed: true,
                windowWidth: 0,

            }
        },
        props: {
            sidebarbg: String,

        },
        methods: {
            toggleBodyClass(className) {
                const el = document.body;
                this.isOpen = !this.isOpen;

                if (this.isOpen) {
                    el.classList.add(className);
                } else {
                    el.classList.remove(className);
                }
            },
            toggleSidebarHover(add, className) {
                const el = document.body;
                this.sidebarActive = !this.sidebarActive;

                this.windowWidth = document.documentElement.clientWidth;

                if (this.windowWidth > '992') {
                    if (add === 'add') {
                        el.classList.add(className);
                    } else {
                        el.classList.remove(className);
                    }
                }
            },
            getWindowWidth() {
                const el = document.body;

                this.windowWidth = document.documentElement.clientWidth;

                if (this.windowWidth < '1350') {
                    el.classList.add('closed-sidebar', 'closed-sidebar-md');
                } else {
                    el.classList.remove('closed-sidebar', 'closed-sidebar-md');
                }
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);

                //Init
                this.getWindowWidth()
            })
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.getWindowWidth);
        },
    }
</script>
