<template>
  <div>
    <page-title :heading="trans('sidebar.messages.main')" :subheading="this.trans('sidebar.messages.mms')" :icon=icon></page-title>

    <b-card title="" class="main-card mb-4">
      <b-card class="main-card"
              :header="trans('common.filter')"
              header-bg-variant="primary"
              header-text-variant="white"
              style="max-width: 1024px;"
              footer-bg-variant="light"
              footer-border-variant="secondary"
              align="left"
              :disabled="isLoading"
      >

        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <b-form-group
                      :label="trans('mms-messages.type')"
                      class="mb-0"
                      :disabled="isLoading"
              >
                <b-form-radio-group
                        v-model="filter.destination_type"
                        :options="trans('mms-messages.radioOptions1')"
                        name="radios-stacked"
                        size="sm"
                ></b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b-form-group
                      class="mb-0"
                      :label="trans('mms-messages.mmsText')"
                      :disabled="isLoading"
                      :state="!$v.filter.text.$dirty || (!$v.filter.text.$invalid && !filter.text.trim()) ? null : !$v.filter.text.$invalid"
                      :invalid-feedback="trans('mms-messages.valid.enterText1')"
              >
                <b-form-input
                        v-model="$v.filter.text.$model"
                        :state="!$v.filter.text.$dirty || (!$v.filter.text.$invalid && !filter.text.trim()) ? null : !$v.filter.text.$invalid"
                        id="ip"
                        :placeholder="trans('mms-messages.valid.enterText2')"
                        size="sm"

                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col">
              <b-form-group
                      class="mb-0"
                      :label="trans('mms-messages.mmsId')"
                      :disabled="isLoading"
                      :state="!$v.filter.obj_id.$dirty || (!$v.filter.obj_id.$invalid && !filter.obj_id.trim()) ? null : !$v.filter.obj_id.$invalid"
                      :invalid-feedback="trans('mms-messages.valid.enterNumber1')"
              >
                <b-form-input
                        v-model="$v.filter.obj_id.$model"
                        :state="!$v.filter.obj_id.$dirty || (!$v.filter.obj_id.$invalid && !filter.obj_id.trim()) ? null : !$v.filter.obj_id.$invalid"
                        size="sm"
                        :placeholder="trans('mms-messages.valid.enterNumber1')"

                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col">
              <b-form-group
                      class="mb-0"
                      :label="trans('mms-messages.thematics')"
                      :disabled="isLoading"
              >
                <b-form-select v-model="filter.thematics_id" :options="thematicsOptions()" size="sm"></b-form-select>
              </b-form-group>
            </div>
          </div>
        </div>
        <template v-slot:footer>
          <div align="right" style="width: 100%" >
            <b-button class="btn btn-shadow btn-hover-shine btn-transition btn-secondary" :disabled="isLoading" @click="resetFilter()" >{{trans('common.resetFilter')}}</b-button> &nbsp; &nbsp;
            <vue-ladda data-style="zoom-out" button-class="btn btn-primary btn-shadow btn-hover-shine btn-transition" :disabled="isLoading" :loading="filterButton.loading" :progress="filterButton.progress" @click="page = 1;doFilter()">{{trans('common.apply')}}</vue-ladda>
          </div>
        </template>
      </b-card>

      <div style="padding-top: 10px">
        <VueElementLoading :active="isLoading" spinner="bar-fade-scale" color="var(--primary)"/>
        <div class="container-fluid">
          <div class="row">
            <div class="col" align="left">
              <div>
                <h5>{{trans('common.itemsCount')}} {{itemsTotalCount}}</h5>
              </div>
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col-md-auto">
              <b-form-select v-model="itemsPerPage" :options="trans('common.itemsPerPageOptions')" @change="page = 1; getMmsList()"></b-form-select>
            </div>
          </div>
        </div>


        <b-table striped bordered outlined hover fixed :items="items" :fields="trans('mms-messages.fields')">

          <template v-slot:cell(text)="data">
            <div v-b-popover.hover.right="data.item.text" :title="trans('mms-messages.fullText')">
              <i class="icon icon-lg pe-7s-info text-primary"/> &nbsp; {{data.item.text.split(' ').splice(0, 5).join(' ')}} <strong>...</strong>
            </div>

          </template>

          <template v-slot:cell(media)="row">
            <button type="button" @click="row.toggleDetails" class="btn btn-success btn-shadow btn-hover-shine btn-transition d-inline-flex align-items-center" size="sm" >
              <font-awesome-icon class="mr-2" icon="photo-video"/>
              <div > {{ row.detailsShowing ? trans('common.hide') : trans('common.show')}}</div>
            </button>
          </template>

          <template v-slot:row-details="row">
            <b-card>
              <slick ref="slick" :options="slickOptions">
                <div v-for="(mms, index) in row.item.media_files_group.mms_media_files ">
                  <div class="slider-item" ><div align="center" style="width:100%; height:100%"><a :href="mms.file_path" target="_blank"><img :src="mms.file_path" style="border: 1px solid lightgray; max-width:100%; max-height:100%; height: auto;"></a></div></div>
                </div>
                <div v-if="!row.item.media_files_group.mms_media_files.length">
                  <div class="slider-item">{{trans('mms-messages.noImages')}}</div>
                </div>
              </slick>
            </b-card>
          </template>

          <template v-slot:cell(thematics_name)="data">
            {{data.item.advertising_campaign.thematics.name}}
          </template>

          <template v-slot:cell(advertising_campaign_name)="data">
            {{data.item.advertising_campaign.name}}
          </template>

          <template v-slot:cell(user_name)="data">
            {{data.item.advertising_campaign.user.name}}
          </template>

          <template v-slot:cell(created_at)="data">
            {{$getDateTime(data.item.created_at, true)}}
          </template>


          <template v-slot:table-colgroup="scope">
            <col style="width: 40px">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
          </template>

        </b-table>

        <div class="container-fluid">
          <div class="row">
            <div class="col">
            </div>
            <div class="col-md-auto" align="right">
              <v-pagination v-model="page" @input="getMmsList()" :length="pagesCount" :total-visible="10"></v-pagination>
            </div>
          </div>
        </div>

      </div>

    </b-card>


  </div>
</template>

<script>

  import PageTitle from "../../../Layout/Components/PageTitle.vue";
  import VueElementLoading from 'vue-element-loading'
  import vSelect from 'vue-select'
  import {library} from '@fortawesome/fontawesome-svg-core'
  import { faStar, faPlus, faPhotoVideo } from '@fortawesome/free-solid-svg-icons'
  import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
  library.add( faStar, faPlus, faPhotoVideo );
  import { validationMixin } from "vuelidate";
  import { required, requiredIf, helpers, minLength, ipAddress, numeric, between,minValue } from "vuelidate/lib/validators";
  import Slick from 'vue-slick';


  import VueLadda from '../../../assets/components/ladda-loading/src/vue-ladda'

  const duration = 4000;

  export default {
    components: {
      PageTitle,
      VueElementLoading,
      vSelect,
      'font-awesome-icon': FontAwesomeIcon,
      VueLadda,
      Slick
    },
    data() {
      return {
        icon: 'pe-7s-home icon-gradient bg-warm-flame',
        items: [],
        itemsPerPage : 25,
        isLoading: false,
        page: 1,
        pagesCount :1,
        itemsTotalCount : 0,
        filterButton: {
          loading: false,
          progress: 0
        },
        withFilter: false,
        filter: {
          destination_type: -1,
          text: '',
          obj_id: '',
          thematics_id : 0
        },
        _thematicsOptions : [],
        slickOptions: {
          className: "center",
          centerMode: false,
          infinite: true,
          centerPadding: "60px",
          slidesToShow: 3,
          speed: 500,
          dots: true,
        },
      }
    },
    validations: {
      filter: {
        destination_type: {
          required
        },
        text: {
          minLength: minLength(3)
        },
        obj_id: {
          numeric,
          minValue: minValue(1)
        },
        thematics_id: {
          required
        }
      }
    },

    computed: {
    },
    methods: {
      thematicsOptions() {
        let firstElement = [
          {text: this.trans('common.all'),  value: 0}
        ];
        return this._thematicsOptions ? firstElement.concat(this._thematicsOptions) : firstElement;
      },

      getThematics()
      {
        let vm = this;
        let new_items = [];
        let url = '/api/settings/thematics/?page=1&itemsPerPage=1000';
        axios.get(url).then( response => {
          if (!response.data.errorCode )
          {
            new_items = [];
            for(let i in response.data.data.items)
              new_items.push({
                text: response.data.data.items[i].name,
                value: response.data.data.items[i].id
              });
            vm._thematicsOptions = new_items;
          }
        }).catch( responce => {
          this.$toast(this.trans('common.netError'), 'danger');
        });
      },

      getMmsList()
      {
        let vm = this;
        this.isLoading = true;
        let new_items = [];
        let url = '/api/sms-mms-messages/mms/?page=' + this.page + '&itemsPerPage=' + this.itemsPerPage;
        let options = {};
        if (this.withFilter)
          options.params = {filter: JSON.stringify(this.filter)};

        axios.get(url, options).then( response => {
          if (!response.data.errorCode )
          {
            new_items = response.data.data.items;
            this.pagesCount = Math.ceil(response.data.data.stat.itemsCount / this.itemsPerPage);
            vm.itemsTotalCount = response.data.data.stat.itemsCount;
            vm.items = new_items;
          }
          vm.isLoading = false;
        }).catch( responce => {
          vm.isLoading = false;
          this.$toast(this.trans('common.netError'), 'danger');
        });
      },
      resetFilter(){
        this.withFilter = false;
        this.filter.destination_type = -1;
        this.filter.text = '';
        this.filter.obj_id = '';
        this.filter.thematics_id = 0;
        this.page = 1;
        this.$v.$reset();
        this.getMmsList();
      },
      doFilter()
      {
        this.$v.filter.$touch();
        if (this.$v.filter.$anyError) {
          return;
        }

        this.withFilter = true;
        this.filterButton.loading = true;
        updateButtonProgress(duration, this.filterButton);
        let vm = this;
        setTimeout(function () { vm.filterButton.loading = false;}, duration);
        this.getMmsList();
      },
      next() {
        this.$refs.slick.next();
      },

      prev() {
        this.$refs.slick.prev();
      },

      reInit() {
        this.$nextTick(() => {
          this.$refs.slick.reSlick();
        });
      },

    },
    watch: {
      itemsPerPage : function(val)
      {
        this.$cookies.set('mms_messages_list_per_page', val, '31d');
      },
      isLoading: function(val)
      {
        if (this.withFilter)
          this.filterButton.loading = val;
      }
    },
    mounted()
    {
      let itemsPerPage = this.$cookies.get('mms_messages_list_per_page');
      if (itemsPerPage && parseInt(itemsPerPage)>0)
        this.itemsPerPage = itemsPerPage;
      this.getMmsList();
      this.getThematics();
    }
  }

  function updateButtonProgress(duration, button) {
    var start = null;

    function update(timestamp) {
      var delta, progress;
      if (!start) start = timestamp;
      delta = timestamp - start;
      progress = delta / duration;
      if (progress >= 1 || progress < 0) return;
      button.progress = progress;
      window.requestAnimationFrame(update);
    }

    window.requestAnimationFrame(update);
  }
</script>
