<template>
  <div>
    <page-title :heading="trans('sidebar.messages.main')" :subheading="trans('sidebar.messages.sms')" :icon=icon></page-title>

    <b-card title="" class="main-card mb-4">
      <b-card class="main-card"
                :header="trans('common.filter')"
                header-bg-variant="primary"
                header-text-variant="white"
                style="max-width: 1024px;"
                footer-bg-variant="light"
                footer-border-variant="secondary"
                align="left"
                :disabled="isLoading"
        >

            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <b-form-group
                          :label="trans('sms-messages.type')"
                          class="mb-0"
                          :disabled="isLoading"
                  >
                    <b-form-radio-group
                            v-model="filter.destination_type"
                            :options="trans('sms-messages.radioOptions1')"
                            name="radios-stacked"
                            size="sm"
                    ></b-form-radio-group>
                  </b-form-group>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <b-form-group
                          class="mb-0"
                          :label="trans('sms-messages.smsText')"
                          :disabled="isLoading"
                          :state="!$v.filter.text.$dirty || (!$v.filter.text.$invalid && !filter.text.trim()) ? null : !$v.filter.text.$invalid"
                          :invalid-feedback="trans('sms-messages.valid.enterText1')"
                  >
                    <b-form-input
                            v-model="$v.filter.text.$model"
                            :state="!$v.filter.text.$dirty || (!$v.filter.text.$invalid && !filter.text.trim()) ? null : !$v.filter.text.$invalid"
                            id="ip"
                            :placeholder="trans('sms-messages.valid.enterText2')"
                            size="sm"

                    ></b-form-input>
                  </b-form-group>
                </div>
                <div class="col">
                  <b-form-group
                          class="mb-0"
                          :label="trans('sms-messages.smsId')"
                          :disabled="isLoading"
                          :state="!$v.filter.obj_id.$dirty || (!$v.filter.obj_id.$invalid && !filter.obj_id.trim()) ? null : !$v.filter.obj_id.$invalid"
                          :invalid-feedback="trans('sms-messages.valid.enterNuber1')"
                  >
                    <b-form-input
                            v-model="$v.filter.obj_id.$model"
                            :state="!$v.filter.obj_id.$dirty || (!$v.filter.obj_id.$invalid && !filter.obj_id.trim()) ? null : !$v.filter.obj_id.$invalid"
                            size="sm"
                            :placeholder="trans('sms-messages.valid.enterNuber1')"
                    ></b-form-input>
                  </b-form-group>
                </div>
                <div class="col">
                  <b-form-group
                          class="mb-0"
                          :label="trans('sms-messages.thematics')"
                          :disabled="isLoading"
                  >
                    <b-form-select v-model="filter.thematics_id" :options="thematicsOptions()" size="sm"></b-form-select>
                  </b-form-group>
                </div>
              </div>
            </div>
            <template v-slot:footer>
              <div align="right" style="width: 100%" >
                <b-button class="btn btn-shadow btn-hover-shine btn-transition btn-secondary" :disabled="isLoading" @click="resetFilter()" >{{trans('common.resetFilter')}}</b-button> &nbsp; &nbsp;
                <vue-ladda data-style="zoom-out" button-class="btn btn-primary btn-shadow btn-hover-shine btn-transition" :disabled="isLoading" :loading="filterButton.loading" :progress="filterButton.progress" @click="page = 1;doFilter()">{{trans('common.apply')}}</vue-ladda>
              </div>
            </template>
        </b-card>
      <div style="padding-top: 10px">
        <VueElementLoading :active="isLoading" spinner="bar-fade-scale" color="var(--primary)"/>
        <div class="container-fluid">
          <div class="row">
            <div class="col" align="left">
              <div>
                <h5>{{trans('common.itemsCount')}} {{itemsTotalCount}}</h5>
              </div>
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col-md-auto">
              <b-form-select v-model="itemsPerPage" :options="trans('common.itemsPerPageOptions')" @change="page = 1; getSmsList()"></b-form-select>
            </div>
          </div>
        </div>




        <b-table striped bordered outlined hover fixed :items="items" :fields="trans('sms-messages.fields')">

          <template v-slot:cell(text)="data">
            <div v-b-popover.hover.right="data.item.text" :title="trans('sms-messages.fullText')">
              <i class="icon icon-lg pe-7s-info text-primary"/> &nbsp; {{data.item.text.split(' ').splice(0, 5).join(' ')}} <strong>...</strong>
            </div>

          </template>

          <template v-slot:cell(thematics_name)="data">
            {{data.item.advertising_campaign.thematics.name}}
          </template>

          <template v-slot:cell(advertising_campaign_name)="data">
            {{data.item.advertising_campaign.name}}
          </template>

          <template v-slot:cell(user_name)="data">
            {{data.item.advertising_campaign.user.name}}
          </template>

          <template v-slot:cell(created_at)="data">
            {{$getDateTime(data.item.created_at, true)}}
          </template>


          <template v-slot:table-colgroup="scope">
            <col style="width: 40px">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
          </template>

        </b-table>

        <div class="container-fluid">
          <div class="row">
            <div class="col">
            </div>
            <div class="col-md-auto" align="right">
              <v-pagination v-model="page" @input="getSmsList()" :length="pagesCount" :total-visible="10"></v-pagination>
            </div>
          </div>
        </div>

      </div>

    </b-card>


  </div>
</template>

<script>

  import PageTitle from "../../../Layout/Components/PageTitle.vue";
  import VueElementLoading from 'vue-element-loading'
  import vSelect from 'vue-select'
  import {library} from '@fortawesome/fontawesome-svg-core'
  import { faStar, faPlus } from '@fortawesome/free-solid-svg-icons'
  import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
  library.add( faStar, faPlus );
  import { validationMixin } from "vuelidate";
  import { required, requiredIf, helpers, minLength, ipAddress, numeric, between,minValue } from "vuelidate/lib/validators";


  import VueLadda from '../../../assets/components/ladda-loading/src/vue-ladda'

  const duration = 4000;

  export default {
    components: {
      PageTitle,
      VueElementLoading,
      vSelect,
      'font-awesome-icon': FontAwesomeIcon,
      VueLadda
    },
    data() {
      return {
        icon: 'pe-7s-home icon-gradient bg-warm-flame',
        items: [],
        itemsPerPage : 25,
        isLoading: false,
        page: 1,
        pagesCount :1,
        itemsTotalCount : 0,
        filterButton: {
          loading: false,
          progress: 0
        },
        withFilter: false,
        filter: {
          destination_type: -1,
          text: '',
          obj_id: '',
          thematics_id : 0
        },
        _thematicsOptions : []
      }
    },
    validations: {
      filter: {
        destination_type: {
          required
        },
        text: {
          minLength: minLength(3)
        },
        obj_id: {
          numeric,
          minValue: minValue(1)
        },
        thematics_id: {
          required
        }
      }
    },

    computed: {
    },
    methods: {
      thematicsOptions() {
        let firstElement = [
          {text: this.trans('common.all'),  value: 0}
        ];
        return this._thematicsOptions ? firstElement.concat(this._thematicsOptions) : firstElement;
      },

      getThematics()
      {
        let vm = this;
        let new_items = [];
        let url = '/api/settings/thematics/?page=1&itemsPerPage=1000';
        axios.get(url).then( response => {
          if (!response.data.errorCode )
          {
            new_items = [];
            for(let i in response.data.data.items)
              new_items.push({
                text: response.data.data.items[i].name,
                value: response.data.data.items[i].id
              });
            vm._thematicsOptions = new_items;
          }
        }).catch( responce => {
          this.$toast(this.trans('common.netError'), 'danger');
        });
      },

      getSmsList()
      {
        let vm = this;
        this.isLoading = true;
        let new_items = [];
        let url = '/api/sms-mms-messages/sms/?page=' + this.page + '&itemsPerPage=' + this.itemsPerPage;
        let options = {};
        if (this.withFilter)
          options.params = {filter: JSON.stringify(this.filter)};

        axios.get(url, options).then( response => {
          if (!response.data.errorCode )
          {
            new_items = response.data.data.items;
            this.pagesCount = Math.ceil(response.data.data.stat.itemsCount / this.itemsPerPage);
            vm.itemsTotalCount = response.data.data.stat.itemsCount;
            vm.items = new_items;
          }
          vm.isLoading = false;
        }).catch( responce => {
          vm.isLoading = false;
          this.$toast(this.trans('common.netError'), 'danger');
        });
      },
      resetFilter(){
        this.withFilter = false;
        this.filter.destination_type = -1;
        this.filter.text = '';
        this.filter.obj_id = '';
        this.filter.thematics_id = 0;
        this.page = 1;
        this.$v.$reset();
        this.getSmsList();
      },
      doFilter()
      {
        this.$v.filter.$touch();
        if (this.$v.filter.$anyError) {
          return;
        }

        this.withFilter = true;
        this.filterButton.loading = true;
        updateButtonProgress(duration, this.filterButton);
        let vm = this;
        setTimeout(function () { vm.filterButton.loading = false;}, duration);
        this.getSmsList();
      }
    },
    watch: {
      itemsPerPage : function(val)
      {
        this.$cookies.set('sms_messages_list_per_page', val, '31d');
      },
      isLoading: function(val)
      {
        if (this.withFilter)
          this.filterButton.loading = val;
      }
    },
    mounted()
    {
      let itemsPerPage = this.$cookies.get('sms_messages_list_per_page');
      if (itemsPerPage && parseInt(itemsPerPage)>0)
        this.itemsPerPage = itemsPerPage;
      this.getSmsList();
      this.getThematics();
    }
  }

  function updateButtonProgress(duration, button) {
    var start = null;

    function update(timestamp) {
      var delta, progress;
      if (!start) start = timestamp;
      delta = timestamp - start;
      progress = delta / duration;
      if (progress >= 1 || progress < 0) return;
      button.progress = progress;
      window.requestAnimationFrame(update);
    }

    window.requestAnimationFrame(update);
  }
</script>
